
.bookContainer {
    border: 2px solid gray;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
    height: 100%;
}

.bookSection {
    max-height: 10rem;
    top: -6rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.bookImage {
    max-height: 20rem;
}

.filterContainer {
    width: 100%;
    top: -8rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input {
    height: 2rem;
}