

.bookSection {
    /* top: -6rem; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bookContainer {
    border: 2px solid gray;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
    height: 30rem;
    max-width: 15rem;
    transition: all ease-in-out 0.2s;
}

.bookContainer:hover {
    scale: 1.05;
}

.bookImage {
    max-height: 20rem;
}

.filterContainer {
    margin-top: 5rem;
    width: 100%;
    /* top: -8rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: absolute; */
}

.input {
    height: 2rem;
    margin-bottom: 1rem;
}

.addButton {
    margin: 1rem;
    width: 95%;
    transition: all ease 0.2s;
}

.addButton:hover {
    color: black;
    background-color: white;
}