
.bookPage {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 5rem;
    margin-top: 5rem;
    flex-direction: row;
    width: 100%;
}

/* .bookPageContainer {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
} */

.bookImage {
    margin-left: auto;
    margin-top: 0;
    /* position: fixed; */
    top: 10rem;
}

.imageContainer {
    /* margin-left: auto; */
    /* width: 30%;
    position: relative;
    top: -20rem */
}

.infoContainer {
    width: 40%;
    margin: auto;
}

.attribute {
    margin-bottom: 1rem;
}

.actionsContainer button {
    margin: 1rem;
}

.formContainer {
    width: 100%;
}

.formContainer input {
    width: 90%;
}

.leftContainer {
    margin-left: auto;
    /* margin-right: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    position: relative;
    top: -15rem
}