
.bookPage {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 5rem;
    margin-top: 5rem;
    flex-direction: column;
}

.bookPageContainer {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bookImage {
    margin-bottom: 1rem;
}

.attribute {
    margin-bottom: 1rem;
}

.actionsContainer button {
    margin: 1rem;
}

.editContainer input {
    margin: 1rem;
}